{{extend 'index.html'}}
<body class="home" data-debug="0">
        <section id="content">        
    <div class="content-view">
                <div class="box-site-head" >
                  
          
        <div class="box-content">
        <div class="inner vertical-center">
            <div class="box-info">
                <div class="row">
                    <h1 class="heading-large">Check Your News Reliability</h1>
                    <form action="{{=URL('welcome')}}">
                                Input URL         :<input class="QueryInput" type="text" name="URL" >
                                <br></br>or <br></br>
                                Input News Headline:
                                <input class="QueryInput" type="text" name="query" >
                               <br></br>
                            <input class="bt-default green-fill" type="submit" font-family='Heebo' value="Submit" style="font-family:Heebo;font-size:17px">
                          </form>
                          
                </div>
                </div></div></div></div></div></section>
            </body>
                </html>

